body {
  background-color: #d6e2e4;
}
.App {
  margin: 10px;
  max-width: 600px;
}

.gitHub-link {
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.9;
  max-width: 500px;
  margin: 20px auto;
}
