.WeatherApp {
  position: relative;
  padding: 20px;
  margin: 30px auto;
  background-color: #061216;
  border: #061216 solid 1px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
}
.WeatherApp form {
  margin-bottom: 20px;
}
.WeatherApp h1 {
  font-weight: 100;
  font-size: 30px;
  color: #bfd6dd;
  margin: 20px 0 10px 0;
  line-height: 26px;
}
.WeatherApp ul {
  margin: 0;
  padding: 0;
}
.WeatherApp ul .Other-properties {
  display: flex;
  justify-content: flex-end;
  right: -30px;
  top: -20px;
}
.WeatherApp li {
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
  list-style: none;
  line-height: 20px;
}
.WeatherApp canvas {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

.WeatherApp .weather-temperature {
  display: block;
  left: -10px;
}
.WeatherApp .weather-temperature strong {
  color: rgb(238, 230, 230);
  font-size: 40px;
  line-height: 3;
  font-weight: 600;
}
.WeatherApp .weather-temperature small {
  color: rgb(245, 235, 235);
  font-size: 20px;
  line-height: 3;
  font-weight: 600;
  opacity: 0.3;
  left: -10px;
}
.WeatherApp .weather-temperature .units {
  position: relative;
  text-decoration: none;
  color: rgb(238, 230, 230);
  font-size: 15px;
  font-weight: 600;
  top: -30px;
  margin-left: 5px;
}

.WeatherApp .weather-temperature .active {
  color: rgb(238, 230, 230);
  cursor: default;
  text-decoration: none;
}
.WeatherApp .weather-temperature .active:hover {
  text-decoration: none;
}
.WeatherApp .weather-temperature .degreesNight {
  display: inline-block;
  margin: 0px 10px auto;
}
