.WeatherApp {
  position: relative;
  padding: 20px;
  margin: 30px auto;
  background-color: #061216;
  border: #061216 solid 1px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
}
.WeatherApp form {
  margin-bottom: 20px;
}
.WeatherApp h1 {
  font-weight: 100;
  font-size: 35px;
  color: #bfd6dd;
  margin: 20px 0 10px 0px;
  line-height: 26px;
}
.WeatherApp ul {
  margin: 0;
  padding: 0;
}

.WeatherApp li {
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
  list-style: none;
  line-height: 20px;
  margin-left: 10px;
}
.WeatherApp ul #Other-properties {
  display: flex;
  justify-content: right;
}
.WeatherApp canvas {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
}

.WeatherApp .weather-temperature {
  color: #bfd6dd;
  font-size: 50px;
  line-height: 2;
  font-weight: 600;
  display: block;
  margin-left: 20px;
}

.weather-temperature .unit {
  position: relative;
  text-decoration: none;
  color: rgb(238, 230, 230);
  font-size: 15px;
  font-weight: 600;
  top: -30px;
  margin-left: 5px;
  line-height: 1;
}

.WeatherApp .weather-temperature .active {
  color: rgb(238, 230, 230);
  cursor: default;
  text-decoration: none;
}
.WeatherApp .weather-temperature .active:hover {
  text-decoration: none;
}
